<div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading"> About Me</h1>
            <p class="text-center sub-heading">Empowering Innovation Through Machine Learning</p>
            <div class="row">
                <div class="col-md-6 col-12 hero-text order-md-1 order-0">
                    <div class="model-view-css-fix">
                        <model-viewer src="object_model\holographic_module.glb" auto-rotate camera-controls autoplay animation="running" touch-action="pan-y"  ></model-viewer>
                    </div>
                </div>
                {{!-- right side --}}
                <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
                    <h1>Curious Student Exploring the World of Tech</h1>
                    <p>Every day, I dive into new techniques, expanding my knowledge and skills in technology. Whether it's a new algorithm, a machine learning concept, or a coding challenge, I make sure to document and share my learnings.</p>
                    <p>Check out my latest posts to see what I've been working on!</p>
                    <a class="btn-style btn-primary" href="/posts">View My Posts</a>
                    <a class="btn-style btn-secondary" href = "/projects">Explore My Projects</a>
                </div>
            </div>
        </div>
    </div>
</div>