<div class="container-fluid mt-5 about-style" id="contactid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">CONTACT ME</h1>
            <p class="text-center sub-heading">I’m Excited to Hear Your Ideas and Collaborate!</p>
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <form action="/contact" method="POST">
                        <div class="form-group">
                            <label for="exampleInputPassword">Name</label>
                            <input type="text" class="form-control" id="exampleInputPassword" placeholder="Your Full Name"
                                name="name">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp"
                                placeholder="Your Email Address" name="email">
                            <small id="emailhelp" class="form-text text-muted">Your email will remain confidential.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword">Phone</label>
                            <input type="number" class="form-control" id="exampleInputPassword"
                                placeholder="Your Phone Number" name="phone">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail">Message</label>
                            <input type="text" class="form-control" id="exampleInputPassword"
                                placeholder="Your Message or Idea" name="message">
                        </div>
                        <button type="submit" class="btn_contact btn-primary" style="display: block; margin: 0 auto; padding: 15px; text-align: center;">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
